<center>
<h1>Drop the Gauntlet</h1>
<br>

<% if user_signed_in? %>
<h3> Hello, <%= current_user.email %> </h3>
<% else %>
<h3>First, 
<%= link_to('Rep yoself', new_user_registration_path)  %>
</h3>
<% end %>



<% if user_signed_in? %>
<%= render 'challenges/form' %>

<% end %>

<h3> Or, view current 
<%= link_to 'Challenges', challenges_path %>
</h3>
</center>

